<!DOCTYPE html>
  <html lang="en" dir="ltr">
  <% var i=0; var weight_list =new Array(test.length); var rep_list = new Array(test.length); %>
    <% test.forEach((post) =>{%>
        <% weight_list[i] = post.weight; %>
        <% rep_list[i] = post.rep; %>
        <% i++; %>
    <%}) %>
    <head>
      <meta charset="utf-8">
      <title>Burning +</title>
      <link rel="stylesheet" href="./stylesheets/adminpage.css">
      <link rel="stylesheet" href="./stylesheets/nav-bar.css">

      <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
      <script type="text/javascript">
        var weight = "<%=weight_list%>";
        var rep = "<%=rep_list%>";
        google.charts.load('current', {'packages':['corechart']});

        google.charts.setOnLoadCallback(drawChart);

        function drawChart() {
          var array_weight = weight.split(',').map(Number);
          var array_rep = rep.split(',').map(String);
          var data = new google.visualization.DataTable();
          data.addColumn('number', 'test');
          data.addColumn('number', 'time');
          data.addColumn({type: 'string', role: 'tooltip'});
          for(var i=0; i<array_weight.length;i++){
            var y = array_weight[i];
            var r = array_rep[i];
            data.addRow([i+1, y, 'Weight = '+ y +'\nRep = '+ r + ' x 5']);
          }


          // Set chart options
          var options = {
            'legend' : 'NONE',
            'title':'Weight verses time',
            'chartArea':{width:'50%',height:'50%'}
          };

          // Instantiate and draw our chart, passing in some options.
          var chart =  new google.visualization.LineChart(document.getElementById('chart_div'));
          chart.draw(data, options);
        }

      </script>
    </head>
    <body>
      <div class="topnav">
        <a href="adminPage"><img src="images/logo-inverted.png"class="logo"></a>
        <a href="logout" class="navbar">Signout</a>
        <a href="adminPage" class="navbar">All User</a>
      </div>

      <div class="centerdiv">
        <div>
          <h1> <%=name%> Workout</h1>
          <h3> Routine : <%=routine%>  &emsp;&emsp;&emsp;  Exercise : <%-exercise%> </h3>
          <div class="admindiv" >

            <div id="chart_div" style="margin:5% "></div>

            <form action="/admin-workout" method="post">
              <button type="submit" >Back</button>
            </form>

          </div>
      </div>
    </body>
  </html>
