<!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>Burning +</title>
      <link rel="stylesheet" href="./stylesheets/adminpage.css">
      <link rel="stylesheet" href="./stylesheets/nav-bar.css">
    </head>
    <body>
      <div class="topnav">
        <a href="admin"><img src="images/logo-inverted.png"class="logo"></a>
        <a href="logout" class="navbar">Signout</a>
        <a href="adminPage" class="navbar">All User</a>
      </div>

      <div class="centerdiv">
        <div>
          <h1> <%=name%> Workout</h1>

          <div class="admindiv" >

            <div class="routine">
              <table class="show">
                <tr><th><u>Conditioning Routine</u></th></tr>
                <% db.forEach((post) => {%>
                  <% if(post.routine == "conditioning") { %>
                    <form action="/admin-graph" method="post">
                      <tr>
                        <td class="show">
                          <input type="hidden" name ="routine" id="routine" value="conditioning">
                          <input type="hidden" name="exercise" id="exercise" value="<%-post.exercise%>">
                          <button type="submit" class="exercise-link"><%=post.exercise%></button>
                        </td>
                      </tr>
                    </form>
                  <% } %>
                <% }) %>
              </table>
            </div>

            <div class="routine">
              <table class="show">
                <tr><th><u>Physique Routine</u></th></tr>
                <% db.forEach((post) => {%>
                  <% if(post.routine == "physique") { %>
                    <form action="/admin-graph" method="post">
                      <tr>
                        <td class="show">
                          <input type="hidden" name ="routine" id="routine" value="physique">
                          <input type="hidden" name="exercise" id="exercise" value="<%-post.exercise%>">
                          <button type="submit" class="exercise-link"><%=post.exercise%></button>
                        </td>
                      </tr>
                    </form>
                  <% } %>
                <% }) %>
              </table>
            </div>

            <div class="routine">
              <table class="show">
                <tr><th><u>Strength Routine</u></th></tr>
                <% db.forEach((post) => {%>
                  <% if(post.routine == "strength") { %>
                    <form action="/admin-graph" method="post">
                      <tr>
                        <td class="show">
                          <input type="hidden" name ="routine" id="routine" value="strength">
                          <input type="hidden" name="exercise" id="exercise" value="<%-post.exercise%>">
                          <button type="submit" class="exercise-link"><%=post.exercise%></button>
                        </td>
                      </tr>
                    </form>
                  <% } %>
                <% }) %>
              </table>
            </div>

            <form action="/admin-profile" method="post">
              <button type="submit" name="button">Back</button>
            </form>

          </div>
      </div>
    </body>
  </html>
