<head>
  <meta charset="utf-8">
  <title>Forum Burning + </title>
  <link rel="stylesheet" href="/stylesheets/starterpage.css">
  <link rel="stylesheet" href="/stylesheets/forumMain.css">
  <link rel="stylesheet" href="/stylesheets/forum-addpost.css">
  <link rel="stylesheet" href="/stylesheets/forum-post.css">
  <link rel="stylesheet" href="/stylesheets/nav-bar.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <!-- <script src="signup.js" charset="utf-8"></script> -->
  <script src="/js/forum-addpost.js" charset="utf-8"></script>
</head>
<body>
  <div class="topnav">
    <a href="homepage"><img src="/images/logo-inverted.png"class="logo"></a>
    <a href="logout" class="navbar">Signout</a>
    <a href="profile" class="navbar">Profile</a>
    <form class="go-to-workout-page" action="/go-to-workout-page" method="post">
      <button type="submit" class="navbar">Workout</button>
    </form>
    <a href="diet.html" class="navbar">Diet</a>
    <a href="forum.html" class="navbar">Forum</a>
    <a href="homepage" class="navbar">Homepage</a>
    <h2>WORKOUT FORUM</h2>
  </div>
  <div class="forumTopic">
      <a href="/forums"> Home </a>
      <span>
        <h3 class="postTitle"><%= results[0].title %></h3>
        <div align="right">
          <button type="button" class= "addbutton" id="addButton-post" name="addButton">Reply To This Post</button>
        </div>
        <br />
      </span>
      <!-- potentials: Weight loss <i class="fas fa-weight"></i>, running, .... -->

      <div class="popup" id="popup-post">
        <div class="popupInner" id="popupInner-post">
          <button type="button" class="cancel" id="cancel" name="cancel">Cancel</button>

          <form class="addForm" id="addForm-post" method="post" action="/forumAddPostReply" >
            <h1> Add a Comment </h1>
            <!-- <label for="title"><b>Title</b></label> <br />
            <input type="text" name="title" /> <br /> -->

            <!-- <input type="text" name="content" /> <br /> -->
            <textarea class="addPostContent" id="postContent-post" name="content"></textarea> <br />


            <!-- will eventually be removed -->
            <!-- <label for="username"><b>Username</b></label> <br />
            <input type="text" name="username" /> <br /> -->

            <!-- hidden input - topic -->
            <input type="hidden" name="topic" value="<%= topic %>"/>
            <input type="hidden" name="id" value="<%= id %>"/>
            <input type="hidden" name="username" value="<%= username %>"/> <br />

            <div class="submitdiv">
              <input class="submitButton" id="submitButton" value="SUBMIT" type="submit" />

            </div>
          </form>

        </div>
      </div>


      <% if(results) { %>
        <% results.forEach(function(r) { %>
          <div class="post">
            <div class="postDesc">

              <span>
                <p class ="posterUsername"> <%= r.username %> </p>
              </span>
              <br>
              <p class="postContent">  <%= r.content %>  </p>
            </div>
          </div>
          <% }); %>

      <% } %>



      <!-- <div class="post">
        <div class="postDesc">

          <p> Vitae proin sagittis nisl rhoncus mattis rhoncus urna neque. Egestadit volutpat maecenas volutpat. Pharetra vel turpis nunc eget lorem dolor sed. Malesuada fames ac turpis egestas sed tempus urna et pharetra. Tellus elementum sagittis vitae et. Tortor posuere ac u </p>
        </div>
      </div>

      <div class="post">
        <div class="postDesc">

          <p> Vitae tempus quam pellentesque nec. Elementum sagittis vitae et leo. Est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus. Tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius. Pellentesque habitant morbi tristique senectus. massa vitae tortor condim</p>
        </div>
      </div> -->




    </div>
</body>
</html>
