<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Forum Burning + </title>
  <link rel="stylesheet" href="/stylesheets/forumMain.css">
  <link rel="stylesheet" href="/stylesheets/forum-post.css">
  <link rel="stylesheet" href="/stylesheets/forum-addpost.css">
  <link rel="stylesheet" href="/stylesheets/starterpage.css">
  <link rel="stylesheet" href="/stylesheets/nav-bar.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <!-- <script src="signup.js" charset="utf-8"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="/js/forum-addpost.js" charset="utf-8"></script>
  <script src="/js/forum-likepost.js" charset="utf-8"></script>
</head>
<body>
  <div class="topnav">
    <a href="/homepage"><img src="/images/logo-inverted.png"class="logo"></a>
    <a href="/logout" class="navbar">Signout</a>
    <a href="/profile" class="navbar">Profile</a>
    <form class="go-to-workout-page" action="/go-to-workout-page" method="post">
      <button type="submit" class="navbar">Workout</button>
    </form>
    <a href="/diet" class="navbar">Diet</a>
    <a href="/forum.html" class="navbar">Forum</a>
    <a href="/homepage" class="navbar">Homepage</a>
  </div>
  <div class="forumTopic">
      <a href="/forums"> Home </a>
      <span>
        <h3 class="postTitle"><%= results[0].title %></h3>
        <div align="right">
          <button type="button" class= "addButton" id="addButton-post" name="addButton">Reply To This Post</button>
        </div>
        <br />
      </span>

      <div class="popup" id="popup-post">
        <div class="popupInner" id="popupInner-post">
          <button type="button" class="cancel" id="cancel" name="cancel">Cancel</button>

          <form class="addForm" id="addForm-post" method="post" onsubmit="return checkAddPostForm();" action="/forumAddPostReply" >
            <h1> Add a Comment </h1>

            <textarea class="addPostInput" id="addPostInput-content" name="content"></textarea> <br />

            <!-- hidden input - topic -->
            <input type="hidden" name="title" value="<%= results[0].title %>"/>
            <input type="hidden" name="topic" value="<%= topic %>"/>
            <input type="hidden" name="id" value="<%= id %>"/>
            <input type="hidden" name="username" value="<%= username %>"/> <br />

            <div class="submitdiv" onclick="checkAddPostForm()">
              <input class="submitButton" id="submitButton" value="SUBMIT" type="submit" />

            </div>
          </form>

        </div>
      </div>


      <% if(results) { %>
        <% results.forEach(function(r) { %>
          <div class="post">
            <div class="postDesc">
              <span>
                <p class ="posterUsername"> <%= r.username %> </p>
              </span>
              <br>
              <p class="postContent">  <%= r.content %>  </p>
              <span class="likes-container">
                <b class="likes"> <%= r.likes %>  </b>
                <form name="iconForm" class="iconForm" method="post" action="/forumLikePost">
                  <button class="iconBtn" name="likeBtn" value="<%= r.uniqueid %>">
                    <i class="far fa-thumbs-up"></i>
                  </button>
                  <input type="hidden" name="topic" value="<%= r.topic %>"/>
                  <input type="hidden" name="id" value="<%= r.id %>"/>
                </form>
              </span>
            </div>
          </div>
          <% }); %>

      <% } %>

    </div>
</body>
</html>
