<!DOCTYPE html>
  <html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>Burning +</title>
      <link rel="stylesheet" href="./stylesheets/starterpage.css">
      <link rel="stylesheet" href="./stylesheets/question.css">
    </head>
    <body>
      <div class="topnav">
        <a href="homepage"><img src="images/logo-inverted.png"class="logo"></a>
        <a href="logout" class="navbar">Signout</a>
        <a href="profile" class="navbar">Profile</a>
        <a href="workout-physique.html" class="navbar">Workout</a>
        <a href="diet.html" class="navbar">Diet</a>
        <a href="forum.html" class="navbar">Forum</a>
        <a href="homepage" class="navbar">Homepage</a>
      </div>

      <div class="formdiv">
        <div>
          <h1>Profile Information</h1>
          <!-- <div class="profile-pic" style="background-image:url(/assets/users/18/small/think.jpg?1561862675)"></div> -->
          <div class="profile">
            <p> <strong>Name:  </strong> <%=username%> </p>
            <p> <strong>Age:   </strong> <%=age%> </p>
            <p> <strong>Gender:</strong> <%=gender%> </p>
            <p> <strong>Weight:</strong> <%=weight%> </p>
            <p> <strong>Height:</strong> <%=height%> </p>
            <p> <strong>Current Routine:  </strong> <%=routine%> </p>
          </div>
          <br>
      </div>


    </body>
  </html>
